* {
    border:grey 1px dashed;
}

#topBar {
    position:relative;
    text-align: center;
}

canvas {
    position: absolute;

    left: 20%;

    border: black 1px dashed;

    margin:10px;
}
footer {
    position:relative;
    margin-top: 450px;
    bottom:0;
    background-color: grey;
    width:100%;
    text-align: center
}
footer div {
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}
#rangeOverview {
    display: inline-block;
    background-color: white;
    margin: 0 auto;
}
